@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

div.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

/* Navbar */

.navbar-light,
.navbar-brand {
  padding-left: 200px;
}

.navbar-light,
.navbar-brand > img {
  margin-right: 25px;
  position: relative;
}

.nav-splash {
  position: absolute;
  left: 115px;
  bottom: 10px;
  max-width: 100px;
}

.navbar-light,
.navbar-brand > a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

.navbar-light,
.navbar-brand > a:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-collapse {
  margin-right: 100px;
  margin-left: 0px;
  font-family: "Sanchez", serif;
}

.header_username {
  background-color: #e7b355;
  margin-right: 0;
  padding: 5px;
  border-radius: 50px;
}

nav {
  background-color: #ffc75f;
  border-bottom: 2px solid #e7b355;
  width: 100%;
  font-family: "Love Ya Like A Sister", serif;
}

img {
  max-width: 75px;
}

#dropdown-basic::after {
  display: none;
}

.dropdown-item a {
  color: #000;
}

.dropdown-item a:hover {
  text-decoration: none;
}

/* Translator Related */

.Input_Control {
  margin: 50px 0px;
  background-color: #efefef;
  padding: 5px;
  border-radius: 50px;
  border: 3px solid #fff;
}
.Input__Field.form-control {
  background-color: #efefef;
  border: none;
  font-family: "Sanchez", serif;
  color: #000;
  align-self: center;
}

.Input__Field.form-control:focus {
  background-color: #efefef;
}

.Input__Row {
  background-color: #ffc75f;
}

div.col-8 {
  margin-bottom: 50px;
}

.SubmitArrow {
  margin-left: 10px;
  cursor: pointer;
  color: #845ec2;
  align-self: center;
}

.SubmitArrow:hover {
  border: solid 3px #fff;
  border-radius: 30px;
}

.KeyboardIcon {
  margin-right: 10px;
  margin-left: 10px;
  align-self: center;
}

.Translate__Input {
  background-color: #ffc75f;
}

.Translate__Output {
  margin-top: 50px;
  min-height: 300px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 2px #888888;
  padding: 15px;
  background-color: #fff;
  border-bottom: 40px solid #845ec2;
}

/* Login and Signup Related */

.Intro__Logos {
  margin-top: 25px;
  margin-bottom: 125px;
}

.Intro__Logos h2 {
  display: inline-block;
  font-size: 48px;
  font-family: "Love Ya Like A Sister", serif;
  color: #fff;
  position: absolute;
  top: 100px;
  left: 300px;
}

.Intro__Logos h3 {
  display: inline-block;
  position: absolute;
  top: 150px;
  left: 300px;
  font-family: "Sanchez", serif;
  color: #fff;
}

.intro-logo {
  max-width: 200px;
  position: relative;
}

.intro-splash {
  max-width: 250px;
  position: absolute;
  left: 0px;
  top: 10px;
}

.Login_Input_Container {
  background-color: #fff;
  padding: 35px 45px 40px 45px;
  border-bottom: 25px solid #845ec2;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 2px #888888;
  position: absolute;
  top: 250px;
  width: 100%;
}

.Login_Input_Container .signup-text {
  font-family: "Sanchez", serif;
}

.Login_Input_Control {
  background-color: #efefef;
  padding: 5px;
  border-radius: 50px;
  border: 3px solid #969696;
}

/* Profile Related */

.card {
  margin-top: 25px;
  box-shadow: 0px 0px 10px 2px #888888;
  font-family: "Sanchez", serif;
  font-size: 1.25em;
}

.list-group-item:hover {
  border-bottom: 2px solid #845ec2;
}

.delTranslation {
  cursor: pointer;
}
